{% extends "base.html" %}

{% block lab %}Лабораторная работа 4{% endblock %}

{% block main %}
    <h1>Формы (POST)</h1>
    <div>Тема лабораторной - Формы (POST). Список сделанных страниц:</div>
    <ol>
        <li><a href="/lab4/div">Деление</a></li>
        <li><a href="/lab4/sum">Суммирование</a></li>
        <li><a href="/lab4/multiply">Умножение</a></li>
        <li><a href="/lab4/subtract">Вычитание</a></li>
        <li><a href="/lab4/power">Возведение в степень</a></li>
        <li><a href="/lab4/tree">Посадка деревьев</a></li>
        <li><a href="/lab4/login">Авторизация и регистрация</a></li>
        <li><a href="/lab4/settings">Настройки пользователя</a></li>
        <li><a href="/lab4/fridge">Холодильник</a></li>
        <li><a href="/lab4/grain">Заказ зерна</a></li>
    </ol>
{% endblock %}