{% extends "base.html" %}

{% block title %}Лабораторная работа 3{% endblock %}
{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    <h1>Формы, cookie</h1>
    
    {% if name %}
        <p>Привет, <span style="color: magenta; font-weight: bold;">{{ name }}</span>!</p>
    {% else %}
        <p>Cookie не установлены</p>
    {% endif %}
    
    <div>Список сделанных страниц:</div>
    <ol>
        <li><a href="/lab3/cookie">Установить куки</a></li>
        <li><a href="/lab3/clear_cookies">Очистить куки</a></li>
    </ol>
{% endblock %}